<p id="notice"><%= notice %></p>

<p>
  <strong>Sport:</strong>
  <%= @stat.sport %>
</p>

<p>
  <strong>Team:</strong>
  <%= @stat.team %>
</p>

<p>
  <strong>Position:</strong>
  <%= @stat.position %>
</p>

<p>
  <strong>Games started:</strong>
  <%= @stat.games_started %>
</p>

<p>
  <strong>Games played:</strong>
  <%= @stat.games_played %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @stat.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @stat.losses %>
</p>

<p>
  <strong>Pass completions:</strong>
  <%= @stat.pass_completions %>
</p>

<p>
  <strong>Pass attempts:</strong>
  <%= @stat.pass_attempts %>
</p>

<p>
  <strong>Passing yards:</strong>
  <%= @stat.passing_yards %>
</p>

<p>
  <strong>Passing touchdowns:</strong>
  <%= @stat.passing_touchdowns %>
</p>

<p>
  <strong>Rushing attempts:</strong>
  <%= @stat.rushing_attempts %>
</p>

<p>
  <strong>Rushing yards:</strong>
  <%= @stat.rushing_yards %>
</p>

<p>
  <strong>Rushing touchdows:</strong>
  <%= @stat.rushing_touchdows %>
</p>

<p>
  <strong>Receptions:</strong>
  <%= @stat.receptions %>
</p>

<p>
  <strong>Reception yards:</strong>
  <%= @stat.reception_yards %>
</p>

<p>
  <strong>Reception touchdowns:</strong>
  <%= @stat.reception_touchdowns %>
</p>

<p>
  <strong>Pancakes:</strong>
  <%= @stat.pancakes %>
</p>

<p>
  <strong>Tackles:</strong>
  <%= @stat.tackles %>
</p>

<p>
  <strong>Sacks:</strong>
  <%= @stat.sacks %>
</p>

<p>
  <strong>Fumbles:</strong>
  <%= @stat.fumbles %>
</p>

<p>
  <strong>Interception:</strong>
  <%= @stat.interception %>
</p>

<p>
  <strong>Field goals:</strong>
  <%= @stat.field_goals %>
</p>

<p>
  <strong>Kickreturns:</strong>
  <%= @stat.kickreturns %>
</p>

<p>
  <strong>Kickreturn yards:</strong>
  <%= @stat.kickreturn_yards %>
</p>

<p>
  <strong>Kickreturn touchdowns:</strong>
  <%= @stat.kickreturn_touchdowns %>
</p>

<p>
  <strong>Yards per game:</strong>
  <%= @stat.yards_per_game %>
</p>

<p>
  <strong>Plate appernaces:</strong>
  <%= @stat.plate_appernaces %>
</p>

<p>
  <strong>At bats:</strong>
  <%= @stat.at_bats %>
</p>

<p>
  <strong>Hits:</strong>
  <%= @stat.hits %>
</p>

<p>
  <strong>Runs scored:</strong>
  <%= @stat.runs_scored %>
</p>

<p>
  <strong>Runs batted in:</strong>
  <%= @stat.runs_batted_in %>
</p>

<p>
  <strong>Walks:</strong>
  <%= @stat.walks %>
</p>

<p>
  <strong>Strike outs:</strong>
  <%= @stat.strike_outs %>
</p>

<p>
  <strong>Stolen bases:</strong>
  <%= @stat.stolen_bases %>
</p>

<p>
  <strong>Doubles:</strong>
  <%= @stat.doubles %>
</p>

<p>
  <strong>Triples:</strong>
  <%= @stat.triples %>
</p>

<p>
  <strong>Home runs:</strong>
  <%= @stat.home_runs %>
</p>

<p>
  <strong>Pitcher wins:</strong>
  <%= @stat.pitcher_wins %>
</p>

<p>
  <strong>Pitcher losses:</strong>
  <%= @stat.pitcher_losses %>
</p>

<p>
  <strong>Pitcher saves:</strong>
  <%= @stat.pitcher_saves %>
</p>

<p>
  <strong>Pitcher no decsions:</strong>
  <%= @stat.pitcher_no_decsions %>
</p>

<p>
  <strong>Innings pitched:</strong>
  <%= @stat.innings_pitched %>
</p>

<p>
  <strong>Hits allowed:</strong>
  <%= @stat.hits_allowed %>
</p>

<p>
  <strong>Runs allowed:</strong>
  <%= @stat.runs_allowed %>
</p>

<p>
  <strong>Strikeouts:</strong>
  <%= @stat.strikeouts %>
</p>

<p>
  <strong>Walks allowed:</strong>
  <%= @stat.walks_allowed %>
</p>

<p>
  <strong>Minutes played:</strong>
  <%= @stat.minutes_played %>
</p>

<p>
  <strong>Fieldgoals made:</strong>
  <%= @stat.fieldgoals_made %>
</p>

<p>
  <strong>Fieldgoal attemps:</strong>
  <%= @stat.fieldgoal_attemps %>
</p>

<p>
  <strong>Threepoints made:</strong>
  <%= @stat.threepoints_made %>
</p>

<p>
  <strong>Threepoint attemps:</strong>
  <%= @stat.threepoint_attemps %>
</p>

<p>
  <strong>Freethrows made:</strong>
  <%= @stat.freethrows_made %>
</p>

<p>
  <strong>Freethrow attemps:</strong>
  <%= @stat.freethrow_attemps %>
</p>

<p>
  <strong>Rebounds:</strong>
  <%= @stat.rebounds %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @stat.assists %>
</p>

<p>
  <strong>Steals:</strong>
  <%= @stat.steals %>
</p>

<p>
  <strong>Blocks:</strong>
  <%= @stat.blocks %>
</p>

<p>
  <strong>Points:</strong>
  <%= @stat.points %>
</p>

<p>
  <strong>Draws:</strong>
  <%= @stat.draws %>
</p>

<p>
  <strong>Goals per game:</strong>
  <%= @stat.goals_per_game %>
</p>

<p>
  <strong>Assists:</strong>
  <%= @stat.assists %>
</p>

<p>
  <strong>Shots taken:</strong>
  <%= @stat.shots_taken %>
</p>

<p>
  <strong>Saves:</strong>
  <%= @stat.saves %>
</p>

<p>
  <strong>Shots faced:</strong>
  <%= @stat.shots_faced %>
</p>

<p>
  <strong>Team score:</strong>
  <%= @stat.team_score %>
</p>

<p>
  <strong>Distance time:</strong>
  <%= @stat.distance_time %>
</p>

<p>
  <strong>Placed:</strong>
  <%= @stat.placed %>
</p>

<p>
  <strong>Event:</strong>
  <%= @stat.event %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
